# Node.js
node_modules/

# TypeScript
*.tsbuildinfo
dist/

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Logs
logs
*.log

# Environment variables
.env

# Dependency directories
jspm_packages/
bower_components/

# Distribution directory
/dist/
.DS_Store
Thumbs.db
.cache/
*.log
.env.dev
.env.prod

# Documentation drafts
docs/Draft/
src/models/run.js
src/models/output.txt
dist.zip
